/* General Styles */
:root {

	/* --clr-primary: #8174A0; */
	
	/* --clr-background: #f9f2fc; /* body */ 
	/* --clr-secondary: #f0e9f5; */
	/* --clr-list: #edcafc;   /* list li */ 
	
	--clr-primary: #5837a6;
	
	--clr-background: #8174A0; /* body */
	--clr-secondary: #9c93ad;
	--clr-list: #A6AEBF;   /* list li */
	
	--clr-list-hover: #e5bcf7;   /* list li hover */
	--clr-nav-a: #8967B3;  /* nav li a */
	--clr-button: #A888B5;    /* search button */
	--clr-hover: #d49dae;  /* button hover */
	--clr-btn: #5f41a3;  /* button and text color */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--clr-background);
    color: #333;
	text-align: center;
}

h1 {
    color: white;
}

/* Header */
header {
    background: var(--clr-primary);
    color: white;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    background: var(--clr-nav-a);
    color: white;
    text-align: center;
    padding: 0.5rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Navigation */
#nav-bar {
    position: static;
    top: 0;
    width: 100%;
    background: var(--clr-primary);
    padding: 3px 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    background: var(--clr-nav-a);
    padding: 10px 15px;
    border-radius: 20px;
    transition: 0.3s;
}

nav ul li a:hover {
    background: var(--clr-hover);
}

body.nav-fixed #add-movie {
    top: calc(50% + 70px); /* Adjust top position when navbar is fixed */
    transform: translate(-50%, calc(-50% - 70px));
}

body.nav-fixed #edit-movie {
    top: calc(50% + 70px); /* Adjust top position when navbar is fixed */
    transform: translate(-50%, calc(-50% - 70px));
}

button {
    background: var(--clr-button);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: var(--clr-hover);
}

/* ** START: Search Input Styling ** */
.search-container {
    text-align: center; 
    padding: 5px 0 10px 0; 
    background: var(--clr-primary); 
}

#search-input {
    padding: 8px 15px;
    width: 60%; 
    max-width: 500px; 
    border: 1px solid #bbdefb; 
    border-radius: 20px; 
    font-size: 1rem;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); 
    transition: border-color 0.3s, box-shadow 0.3s;
}

#search-input:focus {
    outline: none;
    border-color: var(--clr-hover); /* Highlight border on focus */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 5px rgba(25, 118, 210, 0.5); /* Add outer glow on focus */
}
/* END: Search Input Styling */

/* Sections */
.movie-container {
    margin: 20px 50px 50px; /* T R/L B */
    padding: 20px;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
    background: var(--clr-secondary);
}

.movie-section {
    padding: 20px;
}

.movie-section h2 {
    color: var(--clr-btn);
    text-align: center;
    border-bottom: 2px solid var(--clr-btn);
    padding-bottom: 5px;
}

.movie-list {
	display: flex; 
	flex-wrap: wrap; /* Allows items to move to the next row */
    justify-content: center; /* Centers items within the section */
    padding: 0;
	gap: 10px;
}

.movie-list li {
	flex: 1 1 calc(25% - 20px); /* 4 items per row */
    max-width: 250px; /* Prevents items from becoming too large */
    background: var(--clr-list); 
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    margin: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.movie-list li:hover {
    background: var(--clr-list-hover); 
    transform: scale(1.03);
}

.overlay-active .movie-list li:hover {
    transform: none !important;
    background:  var(--clr-list) !important;
}

.movie-list li a:hover {
    color: var(--clr-hover);
}

/* Responsive adjustments */
@media (max-width: 1024px) {
    .movie-list li {
        flex: 1 1 calc(33.333% - 20px); /* 3 items per row on medium screens */
    }
}

@media (max-width: 768px) {
    .movie-list li {
        flex: 1 1 calc(50% - 20px); /* 2 items per row on small screens */
    }
}

@media (max-width: 480px) {
    .movie-list li {
        flex: 1 1 100%; /* 1 item per row on extra small screens */
    }
}

/* Movie Links */
.movie-names {
    text-decoration: none;
    color: var(--clr-btn);
    font-weight: bold;
    transition: 0.3s;
	margin: 5px;
}

.movie-btn {
	margin: 10px 5px;
	justify-content: space-between;
	display: flex; 
}

.movie-image {
    padding: 10px;
	height: 150px; 
    overflow: hidden; /* To prevent potential overflow */
}

.movie-image img {
	cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.move-dropdown {
	padding: 5px;
    border: 1px solid var(--clr-btn);
    border-radius: 10px;
}

.edit-btn {
    background: var(--clr-btn);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 10px;
}

.delete-btn {
    background: red;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 10px;
}

/* Add Movie Button */
.add-movie-container {
    text-align: center;
    margin: 20px 20px 0 20px; /* Top Right Bottom Left */
}

#toggle-form-btn {
    background: var(--clr-btn);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

#toggle-form-btn:hover {
    background: var(--clr-hover);
}

/* pop-up form container */
#add-movie, #edit-movie, #delete-movie {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9); 
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}

#show-movie {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
	padding: 0;
	background-color: white;
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	max-width: 400px;
	text-align: center;
	/* overflow: auto; */
} 

.preview-image img {
	width: 100%;
	border-radius: 10px;
}

#delete-b {
	background-color: red;
}
#delete-b:hover{
	background-color: orange;
}

/* Overlay behind the form */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Close button */
.close-btn {
  color: red;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-btn:hover,
.close-btn:focus {
  color: orange;
  text-decoration: none;
  cursor: pointer;
}

#add-movie input, #add-movie select, #add-movie button {
    width: 90%;
    padding: 10px;
    margin: 5px;
    border: 1px solid var(--clr-btn);
    border-radius: 10px;
}

#edit-movie input, #edit-movie select, #edit-movie button {
    width: 90%;
    padding: 10px;
    margin: 5px;
    border: 1px solid var(--clr-btn);
    border-radius: 10px;
}

#add-movie button, #edit-movie button {
    background: var(--clr-btn);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#add-movie button:hover, #edit-movie button:hover {
    background: var(--clr-hover);
}

#add-movie h2, #edit-movie h2 {
	margin: 10px;
}

.upload-container {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.upload-img {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 10px;
}

input[type="file"] {
    margin: 10px 0;
	max-width: 300px;
}

.preview {
	margin: auto;
	width: 50%;
	padding: 10px;
}

.preview img {
    display: none;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}

.preview img[src] {
    display: block;
}


#refresh-btn:hover {
    background-color: var(--clr-hover);
}

#go-top-btn, #refresh-btn {
    position: fixed;
    bottom: 20px;
    background-color: var(--clr-btn);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
	text-align: center;
}

#refresh-btn {
    right: 30px;
	z-index: 1100; /* Ensure it's above the overlay */
}

#go-top-btn {
    right: 100px;
	display: none;
}

#go-top-btn:hover {
    background-color: var(--clr-hover);
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

/* Button Styles */
.download-container {
    text-align: center;
    margin-top: 20px;
}

#download-html-btn {
    background: var(--clr-btn);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
	margin-bottom: 50px;
}

#download-html-btn:hover {
    background: var(--clr-hover);
}

